{% extends 'layout.html' %}


    {% block content %}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"> -->

        <div id="" class="container-fluid">
          <br>

            <h2 class="company_name_heading">CITY BIKE LIST</h2>
          <br>
            
            <div class="table table-bordered">
              
              <table class="table">
                <thead class="">
                  <tr>
                    <th scope="col">Departure</th>
                    <th scope="col">Return</th>
                    <th scope="col">Departure station id</th>
                    <th scope="col">Departure station name</th>
                    <th scope="col">Return station id</th>
                    <th scope="col">Return station name</th>
                    <th scope="col">Covered distance (m)</th>
                    <th scope="col">Duration (sec.)</th>
                    <th id="edit_header" scope="col">EDIT</th>
                    <th id="delete_header" scope="col">DELETE</th>
                  </tr>
                </thead>
                <tbody>
                    {% for list in citybike_list  %}
                       <tr>
                         <td>{{list.departure}}</td>
                         <td>{{list.returns}}</td>
                         <td>{{list.departure_station_id}}</td>
                         <td>{{list.departure_station_name}}</td>
                         <td>{{list.return_station_id}}</td>
                         <td>{{list.return_station_name}}</td>
                         <td>{{list.covered_distance_m}}</td>
                         <td>{{list.duration_sec}}</td>
                       </tr>
                     {% endfor %}
               </tbody>
            
              </table>
            
            </div>
            
            
            </div>
        
      
{% endblock %}