<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Bike Journeys</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sansita&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/msgBox.css') }}">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

        <title>{% block title %}Flask Pagination{% endblock %}</title>
</head>
{% block body %}

    <div class="wrapper">
<!--        flash messages-->
<!--        {% for message in get_flashed_messages()%}-->

<!--        <div id="messageDisplay" class="container alert alert-info">-->
<!--            <button type="button" class="close" data-dismiss="alert" onclick=delete_flash()>&times;</button>-->
<!--            {{ message }}-->

<!--        </div>-->
<!--        {% endfor %}-->

    <body>

            {# navigation bar #}
            {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ url_for('main.display_citybike_details') }}">City Bike Juourneys Project</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">List Of All The Station <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Single Station View <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>


            <!-- <div class="topnav" id="myTopnav">

                <a class="active" href="{{ url_for('main.display_citybike_details') }}">CITY BIKE JOURNEYS PROJECT</a>    
                
                </div>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
                
              </div> -->
             
            {% endblock navbar %}


            {# empty block for custom content #}
            {% block content %} {% endblock content %}

    
            {# footer #}
            {% block footer %}
            <footer>
                <div id="footer">
                    <hr>
                    <p class="text-center small"> City Bike Journeys Project &copy;	| 2023 </p>
                    <hr>
                </div>
            </footer>
            {% endblock footer %}
    
        </div>
        
    </body>
    {% endblock body %}
    

</html>