<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Bike Journeys</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sansita&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/msgBox.css') }}">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

        <title>{% block title %}Flask Pagination{% endblock %}</title>
</head>
{% block body %}

    <div class="wrapper">
<!--        flash messages-->
<!--        {% for message in get_flashed_messages()%}-->

<!--        <div id="messageDisplay" class="container alert alert-info">-->
<!--            <button type="button" class="close" data-dismiss="alert" onclick=delete_flash()>&times;</button>-->
<!--            {{ message }}-->

<!--        </div>-->
<!--        {% endfor %}-->

    <body>

            {# navigation bar #}
            {% block navbar %}
            <div class="topnav" id="myTopnav">

                <a class="active" href="{{ url_for('main.display_dashboard') }}">CITY BIKE JOURNEYS PROJECT</a>
                
                
                </div>
                

                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
                
              </div>
             
            {% endblock navbar %}

            {% block sidebar %}
            <!-- The sidebar -->
                <div class="sidebar">
                    <a href="{{ url_for('main.display_citybike_details')}}"><i></i> City Bike Journeys List </a>
                    

                    
                </div>
            {% endblock sidebar %}

            
    
            {# empty block for custom content #}
            {% block content %} {% endblock content %}

            

    
            {# footer #}
            {% block footer %}
            <footer>
                <div id="footer">
                    <hr>
                    <p class="text-center small"> City Bike Journeys Project &copy;	| 2023 </p>
                    <hr>
                </div>
            </footer>
            {% endblock footer %}
    
        </div>
        
    </body>
    {% endblock body %}
    

</html>