<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City Bike Journeys</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sansita&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/msgBox.css') }}">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

        <title>{% block title %}Flask Pagination{% endblock %}</title>
</head>
{% block body %}

    <body>

            {# navigation bar #}
            {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('main.display_citybike_details') }}">Return List of Juourneys <span class="sr-only"></span></a>
                      </li>


                    <li class="nav-item active">
                      <a class="nav-link" href="{{ url_for('main.display_station_list') }}">Station List <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('main.display_single_station_view') }}">Single Station View <span class="sr-only"></span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('main.departure_search') }}">Search Departure Stataion Id wise <span class="sr-only"></span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('main.return_search') }}">Search Return Stataion Id wise <span class="sr-only"></span></a>
                    </li>
                  </ul>
                </div>
              </nav>


             
            {% endblock navbar %}


            {# empty block for custom content #}
            {% block content %} {% endblock content %}

    
            {# footer #}
            {% block footer %}
            <footer>
                <div id="footer">
                    <hr>
                    <p class="text-center small"> City Bike Journeys Project &copy;	| 2023 </p>
                    <hr>
                </div>
            </footer>
            {% endblock footer %}
    
        </div>
        
    </body>
    {% endblock body %}
    

</html>